:root{
  font-size: 62.5%;

 --main-color:#065E7C;
 --heading-color: #202024;
 --paragraph-color: #121214;
 --light-color:#FFFFFF;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
input {
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
}

body {
  width: 100%;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
}

.header-wrapper {
  width: 100%;
  grid-area: header;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  gap: 2.5rem;

  padding: 1.2rem 2.8rem;

  background-color: var(--main-color);
}

.header-wrapper form {
  flex: 1;
}

.header-wrapper form label {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

.header-wrapper form input {
  width: 100%;
  height: 4rem;

  color: var(--light-color);

  padding-left: 1.4rem;
  

  border: none;
  outline: 0;

  border-radius: 4px;
  background: rgba(255, 255, 255, 0.20);
}

.header-wrapper form input::placeholder {
  color: var(--light-color);
  font-weight: 600;
}

.header-wrapper img{
  max-width: 4.2rem;

  border-radius: 50%;
}

main {
  grid-area: main;
}

article,
aside {
  padding: 0 2.2rem;
}

.article-img img{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.article-wrapper {
  margin-top: 3rem;
}

.article-wrapper h1 {
  color: var(--heading-color);
}

.article-wrapper p {
  color: var(--paragraph-color);
  margin-block: 3rem;
}

.icons-wrapper {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  margin-top: 8px;
}

.icons-img {
  width: 4rem;
  height: 4rem;

  background-color: var(--main-color);
  color: var(--light-color);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  padding: 1.2rem;
}

.icons-img {
  cursor: pointer;

  transition: transform .2s ease;
}

.icons-img:hover {
  transform: scale(1.1);
}

.aside-wrapper {
  grid-area: aside;
}

.aside-wrapper h2 {
  margin-bottom: 3rem;
}

.aside-items {
  display: flex;
  gap: 1.6rem;

  margin-bottom: 3rem;
}

.aside-wrapper img {
  width: 15rem;

  aspect-ratio: 16/9;

  object-fit: cover;

  border-radius: 5px;
}

.aside-wrapper h3 {
  font-size: 1.8rem;
  margin-bottom: 8px;
}

.aside-wrapper p {
  font-size: 1.4rem;
}

.footer-wrapper {
  grid-area: footer;

  padding: 1.6rem;

  text-align: center;

  background-color: var(--main-color);
}

.footer-wrapper p, a {
  color: var(--light-color);
  font-weight: 600;
  
  text-decoration: none;
}

main, 
article,
.article-img, 
.aside-items,
.aside-wrapper {
  --delay: 1s;
  animation: item-appearance .4s var(--delay) backwards;
}

@keyframes item-appearance{
  0% {
      transform: scale(0);
  }
  50% {
      transform: scale(1.15);
  }
}


@media (min-width: 1024px) {
  .container {
    grid-template-areas: 
      "header header header"
      "main main aside"
      "footer footer footer";
    row-gap: 4rem;
    column-gap: 3rem; 
    margin: auto;
  } 

  article, aside {
    padding: 0;
    margin: 0;
  }

  .header-wrapper {
    padding-inline: 11.2rem;
  }

  .heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .main-wrapper {
    max-width: 100%;
    padding-left: 11.2rem;
  }

  .article-img img{
    border-radius: 5px;
  }

  .aside-wrapper {
    width: 100%;
    padding-right: 11.2rem;
  }

}
